<h1 class="display-4 text-center">Logar</h1>
<main class="formulario mt-5">
    <form action="" method="POST">
        <div class="mb-3" >
            <label for="email" class="form-label">E-mail</label>
            <input type="email" class="form-control" id="email" name="entrar">
        </div>
        <div class="mb-3">
            <label for="senha" class="form-label">Senha</label>
            <input type="password" class="form-control" id="senha" name="senha">
        </div>
        <div class="center">
        <input type="reset" class="btn btn-warning" value="Limpar">
        <input type="submit" class="btn btn-primary" value="Enviar">
        </div>
    </form>
</main>