<h1> Minha tela</h1>
<p> Está é action referente ao Home Controller action Minha Tela</p>
    <img src="https://bstqb.org.br/b9/sites/default/files/styles/max_325x325/public/2021-06/fatec_2.png?itok=PiCNjPSy" />
     <img src="~/tecnologia.jpg"/>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Idade</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Guilherme</td>
            <td>19</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Émerson</td>
            <td>20</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Matheus</td>
            <td>19</td>
        </tr>
    </tbody>
</table>