@model List<WebApp_Noite.Models.ProdutosModel>
<div class="row">

    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h2>Lista de Produtos</h2>
            </div>
            <div class="card-body">
                <form action="/Produto/Lista" method="GET">
                <div class="row">
                    <div class="col-2">
                        <a href="/Produto/Cadastrar" class="btn btn-success"> Novo Produto</a>
                    </div>
                    <div class="col-4">
                        <select name="filtro" class="form-control">
                            <option value="0"> Todas as Opções</option>
                            <option value="id"> Por Código</option>
                            <option value="nome">Por Nome</option>
                            <option value="qtd"> Por Quantidade</option>
                        </select>
                    </div>
                    <div class="col-4">
                        <input type="text" class="form-control" name="busca" />
                    </div>
                    <div class="col-2">
                        <button class="btn btn-primary">Pesquisar</button>
                    </div>
                </div>
                </form>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Código</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Quantidade em Estoque</th>
                            <th scope="col">Editar</th>
                            <th scope="col">Excluir</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var produto in Model)
                        {
                         <tr>
                        <td>@produto.Id</td>
                        <td>@produto.Nome</td>
                        <td>@produto.QtdEstoque</td>
                        <td><a href="/Produto/Editar/@produto.Id" class="btn btn-warning">Editar</a></td>
                        <td><a href="/Produto/Excluir/@produto.Id" class="btn btn-danger">Excluir</a></td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
 
</div>